<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

        <bean id="factura" class="mx.sintelti.cursos.spring.Factura"/>


        <bean id="testerDvd" class="Tester.Tester">
                <property name="device" ref="dvdPlayer"/>
        </bean>
        <bean id="testerMp3" class="Tester.Tester">
                <property name="device" ref="mp3Player"/>
        </bean>
        <bean id="testerBrp" class="Tester.Tester">
                <property name="device" ref="blueRayPlayer"/>
        </bean>
        <bean id="testerSp" class="Tester.Tester">
                <property name="device" ref="smartPhone"/>
        </bean>


        <bean id="dvdPlayer" class="Tester.DvdPlayer">
                <property name="playList" ref="playRock"/>
        </bean>
        <bean id="mp3Player" class="Tester.Mp3Player">
                <property name="playList" ref="playPop"/>
        </bean>
        <bean id="blueRayPlayer" class="Tester.BlueRayPlayer">
                <property name="playList" ref="playRock"/>
        </bean>
        <bean id="smartPhone" class="Tester.SmartPhone">
                 <property name="playList" ref="playBan"/>
        </bean>


        <bean id="playRock" class="Tester.Rock"/>
        <bean id="playPop" class="Tester.Pop"/>
        <bean id="playBan" class="Tester.Banda"/>

</beans>